<section class="intro fullscreen-section wow animate__fadeIn" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-xl-6 d-flex align-items-center flex-column justify-content-center">
        <div class="content text-xl-left">
          <h3 class="wow animate__fadeInDown" data-wow-delay="0.0s">Sr. Software Developer</h3>
          <h1 class="wow animate__fadeInDown" data-wow-delay="0.5s">
            I <span class="text-primary">simply</span> make <span class="text-primary">ideas</span> come <span class="text-primary">true</span>.
          </h1>
          <a routerLink="portfolio" class="btn btn-primary section-scroller wow animate__fadeInDown mt-2"
            data-wow-delay="1s">View my Work!</a>
        </div>
      </div>
      <div class="col-xl-6 text-center image-holder">
        <img class="wow animate__fadeInRight" data-wow-delay="1.5s"
          src="{{ 'appUrl' | env}}/assets/image/intro_mockup.png" alt="intro image" />
      </div>
    </div>
  </div>
</section>
